extends default

block content
    div.contactcontainer
        // Page content
        h1 Why?
            p.mainfont This was purely for me to learn about how Javascript works and learn about nodejs, this may evolve into something bigger but for now is purely just a few pages to allow me to play.
